<app-form (onSave)="onSave($event)"></app-form>

<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td class="text-right"><button class="btn btn-secondary" (click)="delete(book.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
