<form [formGroup]="bookForm" (ngSubmit)="save()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" formControlName="title" id="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" formControlName="author" id="author" placeholder="Author">
  </div>
  <div><button class="btn btn-primary" type="submit" [disabled]="!bookForm.valid">Save</button></div>
</form>